&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; **JLUFE**  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;**Spring 2022(Feb-Jul)**  


**<div align="center">Homework Assignment Report</div>**
<br>

**<div align="center">JILIN UNIVERSITY OF FINANCE AND ECONOMICS</div>**
<br>

**<div align="center"><span style="color:blue">College of Managment Science and Information Engineering</span></div>**

**<div align="center">MSc in <span style="color:blue">Data Science and Big Data Technology</span></div>**

**<div align="center">(2022)</div>**

<br> 

**<div align="center">MODULE: Python Statistical Analysis and Modeling</div>**

**<div align="center">Homework Assignment: 01</div>**

**<div align="center">Operators \& Data Types (String, List, Tuple, Sets, Dictionary)</div>**

**<div align="center">28/03/2022</div>**

<br>

**<div align="center">Submitted by:</div>**

**<div align="center"><span style="color:blue">Milan(米兰) 0318021907632 (2005)</span></div>**
**<div align="center">QQ: <span style="color:blue">3086215265</span> | Github ID: <span style="color:blue">milaan9</span></div>**

# Instructions: 


1. I have added tips and required learning resources for each question, which helps you to solve the problems. 

2. Finish the assignment on your **OWN**. **<span style="color:red">Any student find copying/sharing from classmates or internet will get '0' points!!!</span>**

3. After <span class='label label-default'>Accepting this assignment</span> from ➞ **[GitHub Clasroom link](https://classroom.github.com/a/o5NVmJK7)**, Github will create private repository of the assignment in your GitHub Classroom account.

4. In your repository <span class='label label-default'>Clone</span> ➞ <span class='label label-default'>Download ZIP</span> in your computer.

5. Change your ➞ <span style="color:blue">**College**</span>, <span style="color:blue">**Major**</span>, <span style="color:blue">**Name**</span>, <span style="color:blue">**Student number**</span>, <span style="color:blue">**Class number**</span>, <span style="color:blue">**QQ number**</span>, and <span style="color:blue">**GitHub ID**</span>

6. Once you finish the Assignment **[convert your .ipynb file into PDF](https://github.com/milaan9/91_Python_Mini_Projects/tree/main/001_Convert_IPython_to_PDF)** (both **.ipynb** and **.pdf** file will be required!)

7. To submit your assignment, go to GitHub Classroom repository and <span class='label label-default'>Add file</span> ➞ <span class='label label-default'>Upload files</span> ➞ <span class='label label-default'>Commit changes</span>
    1. Replace the question (**.ipynb**) file with your solution (**.ipynb**) file.
    2. Also, upload (**.pdf**) converted file of your solution (**.ipynb**) file.

# Python Assignment 01

# Part A ➞ Operators <span class='label label-default'>Level 1</span>

>**Note:** Please create new cell for each question

1. Declare your age as integer variable
2. Declare your height as a float variable
3. Declare a variable that store a complex number
4. Write a code by taking user **[input()](https://github.com/milaan9/04_Python_Functions/blob/main/002_Python_Functions_Built_in/032_Python_input%28%29.ipynb)** to enter base and height of the triangle and calculate an area of this triangle ($area = 0.5 * a * b$) and the perimeter of the triangle ($perimeter = a + b + c$).

    - ```py
    Enter base: 20
    Enter height: 10
    The area of the triangle is 100
    The perimeter of the triangle is 12
    ```

5. Calculate the value of **`y`**: ($y = x^2 + 6x + 9$). Try to use different **`x`** values and figure out at what **`x`** value **`y`** is going to be 0.
6. Find the length of **`'python'`** and **`'datascience'`** and compare if the length are same using **`==`**.
7. Use **`and`** operator to check if **`on`** is found in both **`python`** and **`cannon`**
8. **`I hope this course is not full of jargon`**. Use **`in`** operator to check if **`jargon`** is in the sentence.
9. There is no **`on`** in both **`python`** and **`cannon`**
10. Find the length of the text **`python`** and convert the value to float and convert it to string
11. Even numbers are divisible by 2 and the remainder is zero. How do you check if a number is even or not using python?
12. Check if the floor division of 7 by 3 is equal to the int converted value of 2.7.
13. Check if type of **"10"** is equal to type of 10
14. Write a code that prompts the user to enter hours and rate per hour. Calculate pay of the person?

    - ```py
Enter hours: 40
Enter rate per hour: 30
Your weekly earning is 1200
    ```

15. Write a script that prompts the user to enter number of years. Calculate the number of seconds a person can live. Assume a person can live hundred years

    - ```py
Enter number of years you have lived: 100
You have lived for 3153600000 seconds.
    ```

16. Write a Python code that displays the following table **using operators**

    - ```py
1 2 3 4 5  
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25
    ```

In [22]:
# Solution: 
#1  Declare your age as integer variable
age=22
print(age,type(age))

22 <class 'int'>

In [21]:
#2  Declare your height as a float variable
height=170.0
print(height,type(height))

170.0 <class 'float'>

In [27]:
#3  Declare a variable that store a complex number
complex_num=7+5j
print(complex_num,type(complex_num))

(7+5j) <class 'complex'>

In [1]:
#4  Write a code by taking user input() to enter base and height of the triangle and calculate an area of this triangle (𝑎𝑟𝑒𝑎=0.5∗𝑎∗𝑏) 
#   and the perimeter of the triangle (𝑝𝑒𝑟𝑖𝑚𝑒𝑡𝑒𝑟=𝑎+𝑏+𝑐).
d=int(input('Enter base:'))
h=int(input('Enter height:'))
area=0.5*d*h
print('The area of the triangle is',area)
a=int(input('输入side a:'))
b=int(input('输入side b:'))
c=int(input('输入side c:'))
perimeter=a+b+c
print('The perimeter of the triangle is',perimeter)

Enter base:20
Enter height:10
The area of the triangle is 100.0
输入side a:3
输入side b:4
输入side c:5
The perimeter of the triangle is 12

In [2]:
#5  Calculate the value of y: (𝑦=𝑥2+6𝑥+9). 
x=int(input('x的值:'))
y=x**2+6*x+9
print('y=',y)

x的值:3
y= 36

In [7]:
#5  Try to use different x values and figure out at what x value y is going to be 0.
x=int(input('x的值:'))
y=x**2+6*x+9
print('y=',y)

x的值:-3
y= 0

In [8]:
#6  Find the length of 'python' and 'datascience' and compare if the length are same using ==.
print('the length of python:',len('python'))
print('the length of datascience:',len('datascience'))
print(len('python')<len('datascience'))
print(len('python')==len('datascience'))
print(len('python')>len('datascience'))

the length of python: 6
the length of datascience: 11
True
False
False

In [9]:
#7  Use and operator to check if on is found in both python and cannon
print('on in python and cannon','on' in 'python' and 'on' in 'cannon')

on in python and cannon True

In [10]:
#8  I hope this course is not full of jargon. Use in operator to check if jargon is in the sentence.
print('jargon' in 'I hope this course is not full of jargon')

True

In [11]:
#9  There is no on in both python and cannon
print('on' in 'python' and 'on' in 'cannon'==False)

False

In [12]:
#10  Find the length of the text python and convert the value to float and convert it to string
print('length:',len('python'),type(len('python')))
print('float:',float(len('python')),type(float(len('python'))))
print('string:',str(len('python')),type(str(len('python'))))

length: 6 <class 'int'>
float: 6.0 <class 'float'>
string: 6 <class 'str'>

In [13]:
#11  Even numbers are divisible by 2 and the remainder is zero. How do you check if a number is even or not using python?
while True:
    num=int(input('输入数字:'))
    if num%2==0:
        print('偶数')
    else:
        print('奇数')
    break

输入数字:9
奇数

In [14]:
#12  Check if the floor division of 7 by 3 is equal to the int converted value of 2.7.
print(7/3==int(2.7))

False

In [15]:
#13  Check if type of "10" is equal to type of 10
print(type('10')==type(10))

False

In [16]:
#14  Write a code that prompts the user to enter hours and rate per hour. Calculate pay of the person?
hours=int(input('输入hours:'))
rate_per_hour=int(input('输入rate per hour:'))
weekly_earning=hours*rate_per_hour
print('Your weekly earning is',weekly_earning)

输入hours:40
输入rate per hour:30
Your weekly earning is 1200

In [17]:
#15  Write a script that prompts the user to enter number of years. 
#    Calculate the number of seconds a person can live. Assume a person can live hundred years

years=int(input('输入number of years you can live:'))
seconds=31536000*years
print('You have lived for',seconds,'seconds')

输入number of years you can live:100
You have lived for 3153600000 seconds

In [18]:
#16  Write a Python code that displays the following table using operators
a,b,c,d,e=1,2,3,4,5
print(a,b,c,d,e)
print(2*a,2*b,2*c,2*d,2*e)
print(3*a,3*b,3*c,3*d,3*e)
print(4*a,4*b,4*c,4*d,4*e)
print(5*a,5*b,5*c,5*d,5*e)

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

# Part B ➞ String <span class='label label-default'>Level 1</span>

>**Note:** Please create new cell for each question

1. Concatenate the string **`Python`**, **`4`**, **`Data`**, **`Science`** to a single string, **`Python 4 Data Science`**.

2. Declare a variable named **`course`** and assign it to an initial value **`Python 4 Data Science`**.

3. Print the length of the **`course`** string using **[len()](https://github.com/milaan9/04_Python_Functions/blob/main/002_Python_Functions_Built_in/040_Python_len%28%29.ipynb)** method and **[print()](https://github.com/milaan9/04_Python_Functions/blob/main/002_Python_Functions_Built_in/051_Python_print%28%29.ipynb)**.

4. Change all the characters of variable company to uppercase and lowercase letters using **[upper()](https://github.com/milaan9/02_Python_Datatypes/blob/main/002_Python_String_Methods/026_Python_String_upper%28%29.ipynb)** and **[lower()](https://github.com/milaan9/02_Python_Datatypes/blob/main/002_Python_String_Methods/025_Python_String_lower%28%29.ipynb)** method.

5. Use **[capitalize()](https://github.com/milaan9/02_Python_Datatypes/blob/main/002_Python_String_Methods/001_Python_String_capitalize%28%29.ipynb)**, **[title()](https://github.com/milaan9/02_Python_Datatypes/blob/main/002_Python_String_Methods/042_Python_String_title%28%29.ipynb)**, **[swapcase()](https://github.com/milaan9/02_Python_Datatypes/blob/main/002_Python_String_Methods/027_Python_String_swapcase%28%29.ipynb)** methods to format the value of the string **`Python 4 Data Science`**.

6. Cut(slice) out the first word of **`Python 4 Data Science`**.

7. Check if **`Python 4 Data Science`** string contains a word **`Python`** using the method: **[index()](https://github.com/milaan9/02_Python_Datatypes/blob/main/002_Python_String_Methods/010_Python_String_index%28%29.ipynb)**, **[find()](https://github.com/milaan9/02_Python_Datatypes/blob/main/002_Python_String_Methods/008_Python_String_find%28%29.ipynb)** or other methods.

8. Change **`Python 4 Data Science`** to **`Python 4 Everybody`** using the **[replace()](https://github.com/milaan9/02_Python_Datatypes/blob/main/002_Python_String_Methods/035_Python_String_replace%28%29.ipynb)** method or other methods.

9. Split the string **`Python 4 Data Science`** using space as the separator (**[split()](https://github.com/milaan9/02_Python_Datatypes/blob/main/002_Python_String_Methods/038_Python_String_split%28%29.ipynb)**).

11. **`Google, Facebook, Microsoft, Apple, IBM, Oracle, Amazon`** split the string at the comma.

12. What is the character at index 9 in the string **`Python 4 Data Science`**.

13. What is the second last index of the string **`Python 4 Data Science`**.

14. Create an acronym or an abbreviation for the name **`Python 4 Data Science`**.

15. Use **[index()](https://github.com/milaan9/02_Python_Datatypes/blob/main/002_Python_String_Methods/010_Python_String_index%28%29.ipynb)** to determine the position of the first occurrence of **`D`** in **`Python 4 Data Science`**.

16. Use **[rfind](https://github.com/milaan9/02_Python_Datatypes/blob/main/002_Python_String_Methods/036_Python_String_rfind%28%29.ipynb)** to determine the position of the last occurrence of **`e`** in **`Python 4 Data Science`**.

17. Use **[index()](https://github.com/milaan9/02_Python_Datatypes/blob/main/002_Python_String_Methods/010_Python_String_index%28%29.ipynb)** or **[find()](https://github.com/milaan9/02_Python_Datatypes/blob/main/002_Python_String_Methods/008_Python_String_find%28%29.ipynb)** to find the position of the first occurrence of the word **`because`** in the following sentence: 

    - **`We cannot end the sentence with 'because', because 'because' is a conjunction.`**.

18. Use **[rindex](https://github.com/milaan9/02_Python_Datatypes/blob/main/002_Python_String_Methods/037_Python_String_rindex%28%29.ipynb)** to find the position of the first and last occurrence of the word **`because`** in the following sentence: 

    - **`We cannot end the sentence with 'because', because 'because' is a conjunction.`**.

19. Slice out the phrase **`'because', because 'because'`** in the following sentence: 

    - **`We cannot end the sentence with 'because', because 'because' is a conjunction.`**.

20. Does **`Python 4 Data Science`** start with a substring **`Python`**?

21. Does '**`Python 4 Data Science`** contains with a substring **`Python`**?

22. **`             Python 4 DataScience                                  `** remove the left and right trailing spaces in the given string.

23. The following list contains the names of some of python libraries: **`['Django', 'Flask', 'Bottle', 'Pyramid', 'Falcon']`**. Join the list with a hash **` # `** with space string.

24. Which one of the following variables return **`True`** when we use the method **[isidentifier()](https://github.com/milaan9/02_Python_Datatypes/blob/main/002_Python_String_Methods/015_Python_String_isidentifier%28%29.ipynb)**
    - ```py
    2021PythonDataypes
    Python_Dataypes_2021
    ```
25. Make the following using string formatting methods:

    - ```py
8 + 6 = 14
8 - 6 = 2
8 * 6 = 48
8 / 6 = 1.33
8 % 6 = 2
8 // 6 = 1
8 ** 6 = 262144
    ```

26. Use a **new line** and **tab** escape sequence to print the following lines.
    - ```py
    Name      Age     Country   City
    Milaan    96      USA       Starkville
    ```

In [110]:
# Solution: 
#1  Concatenate the string Python, 4, Data, Science to a single string, Python 4 Data Science.
' '.join(['Python','4', 'Data', 'Science'])

'Python 4 Data Science'

In [113]:
#2  Declare a variable named course and assign it to an initial value Python 4 Data Science.
course="Python 4 Data Science"
print(course)

Python 4 Data Science

In [117]:
#3  Print the length of the course string using len() method and print().
#   len():
len(course)

21

In [118]:
#3  Print the length of the course string using len() method and print().
#   print():
print(len(course))

21

In [121]:
#4  Change all the characters of variable company to uppercase and lowercase letters using upper() and lower() method.
company="Python 4 Data Science"
print(company.upper())
print(company.lower())

PYTHON 4 DATA SCIENCE
python 4 data science

In [131]:
#5  Use capitalize(), title(), swapcase() methods to format the value of the string Python 4 Data Science.
s="Python 4 Data Science"
print(s.capitalize())
print(s.title())
print(s.swapcase())

Python 4 data science
Python 4 Data Science
pYTHON 4 dATA sCIENCE

In [130]:
#6  Cut(slice) out the first word of Python 4 Data Science.
s="Python 4 Data Science"
print(s[0:6])

Python

In [138]:
#7  Check if Python 4 Data Science string contains a word Python using the method: index(), find() or other methods.
#   find():
s="Python 4 Data Science"
s.find("Python")!=True

True

In [143]:
#7  Check if Python 4 Data Science string contains a word Python using the method: index(), find() or other methods.
#   index():
s="Python 4 Data Science"
p="Python"
s.index(p)!=True

True

In [137]:
#7  Check if Python 4 Data Science string contains a word Python using the method: index(), find() or other methods.
#   in:
s="Python 4 Data Science"
p="Python"
print(p in s)

True

In [149]:
#8  Change Python 4 Data Science to Python 4 Everybody using the replace() method or other methods.
s="Python 4 Data Science"
s1=s.replace("Data Science","Everybody")
print(s1)

Python 4 Everybody

In [147]:
#9  Split the string Python 4 Data Science using space as the separator (split()).
s="Python 4 Data Science"
s.split()

['Python', '4', 'Data', 'Science']

In [150]:
#10  Google, Facebook, Microsoft, Apple, IBM, Oracle, Amazon split the string at the comma.
a="Google, Facebook, Microsoft, Apple, IBM, Oracle, Amazon"
a.split()

['Google,', 'Facebook,', 'Microsoft,', 'Apple,', 'IBM,', 'Oracle,', 'Amazon']

In [157]:
#11  What is the character at index 9 in the string Python 4 Data Science.
s="Python 4 Data Science"
print(s[9])

D

In [158]:
#12  What is the second last index of the string Python 4 Data Science.
s="Python 4 Data Science"
print(s[-2])

c

In [170]:
#13  Create an acronym or an abbreviation for the name Python 4 Data Science.
s="Python 4 Data Science"
print(s[0],s[7],s[9],s[14])

P 4 D S

In [155]:
#14  Use index() to determine the position of the first occurrence of D in Python 4 Data Science.
s="Python 4 Data Science"
print(s.index('D'))

9

In [156]:
#15  Use rfind to determine the position of the last occurrence of e in Python 4 Data Science.
s="Python 4 Data Science"
print(s.rfind('e'))

20

In [172]:
#16  Use index() or find() to find the position of the first occurrence of the word because in the following sentence:
#    We cannot end the sentence with 'because', because 'because' is a conjunction.
sentence="We cannot end the sentence with 'because', because 'because' is a conjunction."
print(sentence.index('because'))
print(sentence.find('because'))

33
33

In [184]:
#17  Use rindex to find the position of the first and last occurrence of the word because in the following sentence:
#    We cannot end the sentence with 'because', because 'because' is a conjunction.
sentence="We cannot end the sentence with 'because', because 'because' is a conjunction."
print(sentence.index('because'))
print(sentence.rindex('because'))

33
52

In [176]:
#18  Slice out the phrase 'because', because 'because' in the following sentence:
#    We cannot end the sentence with 'because', because 'because' is a conjunction.
sentence="We cannot end the sentence with 'because', because 'because' is a conjunction."
print(sentence[33:60])

because', because 'because'

In [177]:
#19  Does Python 4 Data Science start with a substring Python?
s="Python 4 Data Science"
print(s.startswith('Python'))

True

In [178]:
#20  Does 'Python 4 Data Science contains with a substring Python?
s="Python 4 Data Science"
print('Python' in s)

True

In [182]:
#21  Python 4 DataScience remove the left and right trailing spaces in the given string.
s=" Python 4 Data Science "
s.strip()

'Python 4 Data Science'

In [185]:
#22  The following list contains the names of some of python libraries: ['Django', 'Flask', 'Bottle', 'Pyramid', 'Falcon']. 
#    Join the list with a hash # with space string.
a=['Django', 'Flask', 'Bottle', 'Pyramid', 'Falcon']
b= '#, '.join(a)
print(b)

Django#, Flask#, Bottle#, Pyramid#, Falcon

In [186]:
#23  Which one of the following variables return True when we use the method isidentifier()
#    2021PythonDataypes
#    Python_Dataypes_2021
a="2021PythonDataypes"
b="Python_Dataypes_2021"
print(a.isidentifier())
print(b.isidentifier())

False
True

In [195]:
#24  Make the following using string formatting methods:
#8 + 6 = 14
#8 - 6 = 2
#8 * 6 = 48
#8 / 6 = 1.33
#8 % 6 = 2
#8 // 6 = 1
#8 ** 6 = 262144
print("8+6={:d}".format(8+6))
print("8-6={:d}".format(8-6))
print("8*6={:d}".format(8*6))
print("8/6={:.2f}".format(8/6))
print("8%6={:d}".format(8%6))
print("8//6={:d}".format(8//6))
print("8**6={:d}".format(8**6))

8+6=14
8-6=2
8*6=48
8/6=1.33
8%6=2
8//6=1
8**6=262144

In [202]:
#25  Use a new line and tab escape sequence to print the following lines.
#    Name      Age     Country   City
#    Milaan    96      USA       Starkville
print("Name    Age  Country  City\nMilaan  96   USA      Starkville")

Name    Age  Country  City
Milaan  96   USA      Starkville

# Part C ➞ List <span class='label label-default'>Level 1 & 2</span>

>**Note:** Please create new cell for each question

### Part C ➞ <span class='label label-default'>Level 1</span>
>**Note:** Please create new cell for each question

1. Declare a list with more than 5 items with different data types
2. Find the length of your list
3. Get the first item, the middle item and the last item of the list
4. Declare a list **`called my_info`**, put your (name, age, height, marital status, country)
5. Declare a list variable named **`mix_fruits`** and assign initial values Guava, Mango, Apple, Pear, Fig, Orange and Banana and print the list.
6. Print the list using **[print()](https://github.com/milaan9/04_Python_Functions/blob/main/002_Python_Functions_Built_in/051_Python_print%28%29.ipynb)**
7. Print the number of **`mix_fruits`** in the list
8. Print the first, middle and last fruit
9. Print the list after modifying one of the fruit
10. Add an fruit to variable **`mix_fruits`**
11. Insert an fruit in the middle of the **`mix_fruits`** list
12. Change one of the fruit names to uppercase
13. Join the elements in **`mix_fruits`** with a string **`-#-`**
14. Check if a certain fruit exists in the **`mix_fruits`** list.
15. Sort the list using **[sort()](https://github.com/milaan9/02_Python_Datatypes/blob/main/003_Python_List_Methods/009_Python_List_sort%28%29.ipynb)** method
16. Reverse the list in descending order using **[reverse()](https://github.com/milaan9/02_Python_Datatypes/blob/main/003_Python_List_Methods/008_Python_List_reverse%28%29.ipynb)** method
17. Slice out the first 3 fruits from the list
18. Slice out the last 3 fruits from the list
19. Slice out the middle fruit or fruits from the list
20. Remove the first fruit from the list
21. Remove the middle fruit or companies from the list
22. Remove the last fruit from the list
23. Remove all fruits from the list
24. Delete the fruits list
25. Join the following lists:

    - ```py
    front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
    back_end = ['Node','Express', 'MongoDB']
    ```

26. After joining the lists in question 25. Copy the joined list and assign it to a variable full_stack. Then insert **`'Python'`** and **`'SQL'`** after **`'Redux'`**.

In [164]:
# Solution: 
#1  Declare a list with more than 5 items with different data types
list1=[1,'Apple',3.6,7+2j,{7,9}]
print(list1)

[1, 'Apple', 3.6, (7+2j), {9, 7}]

In [165]:
#2  Find the length of your list
print(len(list1))

5

In [166]:
#3  Get the first item, the middle item and the last item of the list
print(list1[0:1])
print(list1[2:3])
print(list1[-1])

[1]
[3.6]
{9, 7}

In [170]:
#4  Declare a list called my_info, put your (name, age, height, marital status, country)
my_info=['natalie',22,170,"未婚",'China']
print(my_info)

['natalie', 22, 170, '未婚', 'China']

In [29]:
#5  Declare a list variable named mix_fruits and assign initial values Guava, Mango, Apple, Pear, Fig, Orange and Banana and print the list.
mix_fruits={'Guava','Mango','Apple','Pear','Fig','Orange','Banana'}
print('mix_fruits=',mix_fruits,type(mix_fruits))

mix_fruits= {'Fig', 'Apple', 'Orange', 'Guava', 'Mango', 'Banana', 'Pear'} <class 'set'>

In [30]:
#6  Print the list using print()
print(mix_fruits)

{'Fig', 'Apple', 'Orange', 'Guava', 'Mango', 'Banana', 'Pear'}

In [31]:
#7  Print the number of mix_fruits in the list
print(len(mix_fruits))

7

In [56]:
#8  Print the first, middle and last fruit
fruits_list=list(mix_fruits)
print(fruits_list[0:1])
print(fruits_list[3:4])
print(fruits_list[-1])

['Fig']
['Guava']
Pear

In [172]:
#9  Print the list after modifying one of the fruit
fruits_list=['Fig', 'Apple', 'Orange', 'Guava', 'Mango', 'Banana', 'Pear']
fruits_list[3]='Strawberry'
print(fruits_list)

['Fig', 'Apple', 'Orange', 'Strawberry', 'Mango', 'Banana', 'Pear']

In [173]:
#10  Add an fruit to variable mix_fruits
mix_fruits.add('Peach')
print(mix_fruits)

{'Fig', 'Apple', 'Orange', 'Guava', 'Mango', 'Banana', 'Pear', 'Peach'}

In [64]:
#11  Insert an fruit in the middle of the mix_fruits list
fruits_list=['Fig', 'Apple', 'Orange', 'Guava', 'Mango', 'Banana', 'Pear', 'Peach', 'Kiwi']
fruits_list.insert(4,'Cherry')
print(fruits_list)

['Fig', 'Apple', 'Orange', 'Guava', 'Cherry', 'Mango', 'Banana', 'Pear', 'Peach', 'Kiwi']

In [78]:
#12  Change one of the fruit names to uppercase
fruits_list1= [element.upper() for element in fruits_list] 
print(fruits_list1)

['FIG', 'APPLE', 'ORANGE', 'GUAVA', 'CHERRT', 'MANGO', 'BANANA', 'PEAR', 'PEACH', 'KIWI']

In [80]:
#13  Join the elements in mix_fruits with a string 
fruits_list=['Fig', 'Apple', 'Orange', 'Guava', 'Cherry', 'Mango', 'Banana', 'Pear', 'Peach', 'Kiwi']
fruits_list2 = ''.join(fruits_list)
print(fruits_list2)

FigAppleOrangeGuavaCherryMangoBananaPearPeachKiwi

In [83]:
#14  Check if a certain fruit exists in the mix_fruits list.
print('Apple' in fruits_list)

True

In [84]:
#15  Sort the list using sort() method
fruits_list.sort()
print(fruits_list)

['Apple', 'Banana', 'Cherry', 'Fig', 'Guava', 'Kiwi', 'Mango', 'Orange', 'Peach', 'Pear']

In [85]:
#16  Reverse the list in descending order using reverse() method
fruits_list.reverse()
print(fruits_list)

['Pear', 'Peach', 'Orange', 'Mango', 'Kiwi', 'Guava', 'Fig', 'Cherry', 'Banana', 'Apple']

In [94]:
#17  Slice out the first 3 fruits from the list
fruits_list=['Fig', 'Apple', 'Orange', 'Guava', 'Cherry', 'Mango', 'Banana', 'Pear', 'Peach', 'Kiwi']
del fruits_list[0:3]
print(fruits_list)

['Guava', 'Cherry', 'Mango', 'Banana', 'Pear', 'Peach', 'Kiwi']

In [101]:
#18  Slice out the last 3 fruits from the list
fruits_list=['Fig', 'Apple', 'Orange', 'Guava', 'Cherry', 'Mango', 'Banana', 'Pear', 'Peach', 'Kiwi']
del fruits_list[7:10]
print(fruits_list)

['Fig', 'Apple', 'Orange', 'Guava', 'Cherry', 'Mango', 'Banana']

In [102]:
#19  Slice out the middle fruit or fruits from the list
fruits_list=['Fig', 'Apple', 'Orange', 'Guava', 'Cherry', 'Mango', 'Banana', 'Pear', 'Peach', 'Kiwi']
del fruits_list[4:6]
print(fruits_list)

['Fig', 'Apple', 'Orange', 'Guava', 'Banana', 'Pear', 'Peach', 'Kiwi']

In [104]:
#20  Remove the first fruit from the list
fruits_list=['Fig', 'Apple', 'Orange', 'Guava', 'Cherry', 'Mango', 'Banana', 'Pear', 'Peach', 'Kiwi']
fruits_list.remove('Fig')
print(fruits_list)

['Apple', 'Orange', 'Guava', 'Cherry', 'Mango', 'Banana', 'Pear', 'Peach', 'Kiwi']

In [108]:
#21  Remove the middle fruit or companies from the list
fruits_list=['Fig', 'Apple', 'Orange', 'Guava', 'Cherry', 'Mango', 'Banana', 'Pear', 'Peach', 'Kiwi']
fruits_list.remove('Cherry')
print(fruits_list)

['Fig', 'Apple', 'Orange', 'Guava', 'Mango', 'Banana', 'Pear', 'Peach', 'Kiwi']

In [109]:
#22  Remove the last fruit from the list
fruits_list=['Fig', 'Apple', 'Orange', 'Guava', 'Cherry', 'Mango', 'Banana', 'Pear', 'Peach', 'Kiwi']
fruits_list.remove('Kiwi')
print(fruits_list)

['Fig', 'Apple', 'Orange', 'Guava', 'Cherry', 'Mango', 'Banana', 'Pear', 'Peach']

In [111]:
#23  Remove all fruits from the list
fruits_list=['Fig', 'Apple', 'Orange', 'Guava', 'Cherry', 'Mango', 'Banana', 'Pear', 'Peach', 'Kiwi']
fruits_list.clear()
print(fruits_list)

[]

In [114]:
#24  Delete the fruits list
fruits_list=['Fig', 'Apple', 'Orange', 'Guava', 'Cherry', 'Mango', 'Banana', 'Pear', 'Peach', 'Kiwi']
del fruits_list

In [120]:
#25  Join the following lists:
# front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
# back_end = ['Node','Express', 'MongoDB']

A=front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
B=back_end = ['Node','Express', 'MongoDB']
A=A+B
print(A)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [125]:
#26  After joining the lists in question 25. Copy the joined list and assign it to a variable full_stack. 
#    Then insert 'Python' and 'SQL' after 'Redux'.

A=['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
full_stack=A
A.insert(5,['Python','SQL'])
print(A)

['HTML', 'CSS', 'JS', 'React', 'Redux', ['Python', 'SQL'], 'Node', 'Express', 'MongoDB']

### Part C ➞ <span class='label label-default'>Level 2</span>
>**Note:** Please create new cell for each question


1. The following is a list of 10 students ages:

    - ```py
ages = [19, 23, 19, 25, 21, 20, 25, 26, 25, 24]
    ```

        - Sort the list and find the min and max age
        - Add the min age and the max age again to the list
        - Find the median age (one middle item or two middle items divided by two)
        - Find the average age (sum of all items divided by their number )
        - Find the range of the ages (max - min)
        - Compare the value of (min - average) and (max - average), use **[abs()](https://github.com/milaan9/04_Python_Functions/blob/main/002_Python_Functions_Built_in/001_Python_abs%28%29.ipynb)** method

2. **`['India', 'Russia', 'China', 'Finland', 'Sweden', 'Norway', 'Denmark']`**. Unpack the first three countries and the rest as scandic countries.

In [131]:
# Solution: 
#1  Sort the list and find the min and max age
ages = [19, 23, 19, 25, 21, 20, 25, 26, 25, 24]
ages.sort()
print(ages)
min(ages)
max(ages)

[19, 19, 20, 21, 23, 24, 25, 25, 25, 26]

26

In [105]:
#1  Add the min age and the max age again to the list
ages = [19, 23, 19, 25, 21, 20, 25, 26, 25, 24]
ages.append(min(ages))
print(ages)
ages.append(max(ages))
print(ages)

[19, 23, 19, 25, 21, 20, 25, 26, 25, 24, 19]
[19, 23, 19, 25, 21, 20, 25, 26, 25, 24, 19, 26]

In [142]:
#1  Find the median age (one middle item or two middle items divided by two)
import numpy as np
ages=[19, 19, 20, 21, 23, 24, 25, 25, 25, 26]
median_ages = np.median(ages)
print(median_ages)

23.5

In [143]:
#1  Find the average age (sum of all items divided by their number )
ages=[19, 19, 20, 21, 23, 24, 25, 25, 25, 26]
average_ages = np.mean(ages)
print(average_ages)

22.7

In [154]:
#1  Find the range of the ages (max - min)
ages=[19, 19, 20, 21, 23, 24, 25, 25, 25, 26]
print(min(ages),max(ages))

19 26

In [161]:
#1  Compare the value of (min - average) and (max - average), use abs() method
ages=[19, 19, 20, 21, 23, 24, 25, 25, 25, 26]
a=min(ages)-average_ages
b=max(ages)-average_ages
print(abs(a))
print(abs(b))
if(abs(a)==abs(b)):
    print("相等")
elif(abs(a)>abs(b)):
    print("min-average大于max-average")
else:
    print("min-average小于max-average")

3.6999999999999993
3.3000000000000007
min-average大于max-average

In [205]:
#2  ['India', 'Russia', 'China', 'Finland', 'Sweden', 'Norway', 'Denmark']. 
#   Unpack the first three countries and the rest as scandic countries.
countries=['India', 'Russia', 'China', 'Finland', 'Sweden', 'Norway', 'Denmark']
scandic_countries=countries[0:3]
print(scandic_countries)

['India', 'Russia', 'China']

# Part D ➞ Tuple <span class='label label-default'>Level 1 & 2</span>

>**Note:** Please create new cell for each question

### Part D ➞ <span class='label label-default'>Level 1</span>
>**Note:** Please create new cell for each question

1. Create a tuple containing names of **`fruits`** and **`vegetables`**
2. Join **`fruits`** and **`vegetables`** tuples and assign it to **`fruits_vegetables`**
3. How many **`fruits_vegetables`** do you have?
4. Modify the **`fruits_vegetables`** tuple and add the name of your favorite mushroom and beverage and assign it to **`food_tuple`**

In [1]:
# Solution: 
#1  Create a tuple containing names of fruits and vegetables
fruits=['apple','cherry','peach','grape']
vegetables=['carrot','tomato','eggplant']
t=fruits,vegetables
print(t)

(['apple', 'cherry', 'peach', 'grape'], ['carrot', 'tomato', 'eggplant'])

In [2]:
#2  Join fruits and vegetables tuples and assign it to fruits_vegetables
fruits_vegetables=t
print(fruits_vegetables)

(['apple', 'cherry', 'peach', 'grape'], ['carrot', 'tomato', 'eggplant'])

In [4]:
#3  How many fruits_vegetables do you have?
print(len(fruits+vegetables))

7

In [203]:
#4  Modify the fruits_vegetables tuple and add the name of your favorite mushroom and beverage and assign it to food_tuple
fruits_vegetables[0][2]='strawberry'
fruits_vegetables[1][1]='pea'
food_tuple='button mushroom','milk','white gourd drink',fruits_vegetables
print(fruits_vegetables)
print(food_tuple)

(['apple', 'cherry', 'strawberry', 'grape'], ['carrot', 'pea', 'eggplant'])
('button mushroom', 'milk', 'white gourd drink', (['apple', 'cherry', 'strawberry', 'grape'], ['carrot', 'pea', 'eggplant']))

### Part D ➞ <span class='label label-default'>Level 2</span>
>**Note:** Please create new cell for each question

1. Unpack **`fruits_vegetables`** and mushroom and beverage from **`food_tuple`**
2. Change the about **`food_tuple`** tuple to a **`food_list`** list
3. Slice out the middle item or items from the **`food_tuple`** tuple or **`food_list`** list.
4. Slice out the first three items and the last three items from **`food_list`** list
5. Delete the **`food_tuple`** tuple completely
6. Check if an item exists in tuple:
    - Check if **`'USA'`** is a asian country
    - Check if **`'India'`** is a asian country
    ```python
asian_countries = ('India','China','Singapore','Thailand','Indonesia')
    ```

In [9]:
# Solution: 
#1  Unpack fruits_vegetables and mushroom and beverage from food_tuple
food_tuple=('button mushroom', 'milk', 'white gourd drink', (['apple', 'cherry', 'strawberry', 'grape'], ['carrot', 'pea', 'eggplant']))
mushroom=food_tuple[0]
beverage=food_tuple[1],food_tuple[2]
print('mushroom:',mushroom)
print('beverage:',beverage)
print('fruits_vegetables:',food_tuple[-1])

mushroom: button mushroom
beverage: ('milk', 'white gourd drink')
fruits_vegetables: (['apple', 'cherry', 'strawberry', 'grape'], ['carrot', 'pea', 'eggplant'])

In [12]:
#2  Change the about food_tuple tuple to a food_list list
food_list=list(food_tuple)
print(food_list)

['button mushroom', 'milk', 'white gourd drink', (['apple', 'cherry', 'strawberry', 'grape'], ['carrot', 'pea', 'eggplant'])]

In [13]:
#3  Slice out the middle item or items from the food_tuple tuple or food_list list.
del food_list[2]
print(food_list)

['button mushroom', 'milk', (['apple', 'cherry', 'strawberry', 'grape'], ['carrot', 'pea', 'eggplant'])]

In [15]:
#4  Slice out the first three items and the last three items from food_list list
food_list=['button mushroom', 'milk', 'white gourd drink', (['apple', 'cherry', 'strawberry', 'grape'], ['carrot', 'pea', 'eggplant'])]
print(food_list[0:3])
print(food_list[-3:])

['button mushroom', 'milk', 'white gourd drink']
['milk', 'white gourd drink', (['apple', 'cherry', 'strawberry', 'grape'], ['carrot', 'pea', 'eggplant'])]

In [24]:
#5  Delete the food_tuple tuple completely
del food_tuple

In [22]:
#6  Check if an item exists in tuple:
#   Check if 'USA' is a asian country
#   Check if 'India' is a asian country
asian_countries=('India','China','Singapore','Thailand','Indonesia')
print('USA'in asian_countries)
print('India'in asian_countries)

False
True

# Part E ➞ Sets <span class='label label-default'>Level 1, 2 and 3</span>

>**Note:** Please create new cell for each question

```py
mix_fruits = {'Guava', 'Pear', 'Mango', 'Apple', 'Fig', 'Orange', 'Banana'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
num = [22, 19, 24, 25, 26, 24, 25, 24]
```

### Part E ➞ <span class='label label-default'>Level 1</span>
>**Note:** Please create new cell for each question

1. Find the length of the set **`mix_fruits`**
2. Add **`'Kiwi'`** to **`mix_fruits`**
3. Insert multiple fruits at once to the set **`mix_fruits`**
4. Remove one of the fruit from the set **`mix_fruits`**
5. What is the difference between **remove** and **discard**

In [25]:
# Solution: 
#1  Find the length of the set mix_fruits
mix_fruits = {'Guava', 'Pear', 'Mango', 'Apple', 'Fig', 'Orange', 'Banana'}
print(len(mix_fruits))

7

In [26]:
#2  Add 'Kiwi' to mix_fruits
mix_fruits.add('Kiwi')
print(mix_fruits)

{'Pear', 'Banana', 'Apple', 'Fig', 'Kiwi', 'Guava', 'Mango', 'Orange'}

In [27]:
#3  Insert multiple fruits at once to the set mix_fruits
mix_fruits.update(['Strawberry','Cherry','Peach'])
print(mix_fruits)

{'Pear', 'Peach', 'Banana', 'Strawberry', 'Apple', 'Fig', 'Kiwi', 'Guava', 'Mango', 'Cherry', 'Orange'}

In [28]:
#4  Remove one of the fruit from the set mix_fruits
mix_fruits.remove('Banana')
print(mix_fruits)

{'Pear', 'Peach', 'Strawberry', 'Apple', 'Fig', 'Kiwi', 'Guava', 'Mango', 'Cherry', 'Orange'}

In [29]:
#5  What is the difference between remove and discard
# remove:
mix_fruits = {'Guava', 'Pear', 'Mango', 'Apple', 'Fig', 'Orange', 'Banana'}
mix_fruits.remove('Fig')
print(mix_fruits)

{'Pear', 'Banana', 'Apple', 'Guava', 'Mango', 'Orange'}

In [30]:
#5  What is the difference between remove and discard
# discard:
mix_fruits = {'Guava', 'Pear', 'Mango', 'Apple', 'Fig', 'Orange', 'Banana'}
mix_fruits.discard('Fig')
print(mix_fruits)

{'Pear', 'Banana', 'Apple', 'Guava', 'Mango', 'Orange'}

### Part E ➞ <span class='label label-default'>Level 2</span>
>**Note:** Please create new cell for each question

Use Imaginary values for Set **`A`** and **`B`**

1. Join **`A`** and **`B`**
2. Find **`A`** intersection **`B`**
3. Is **`A`** subset of **`B`**
4. Are **`A`** and **`B`** disjoint sets
5. Join **`A`** with **`B`** and **`B`** with **`A`**
6. What is the symmetric difference between A and **`B`**
7. Delete the sets completely

In [31]:
# Solution: 
#1  Join A and B
A={19,22,24,20,25,26}
B={19,22,20,25,26,24,28,27}
A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [32]:
#2  Find A intersection B
A.intersection(B)

{19, 20, 22, 24, 25, 26}

In [34]:
#3  Is A subset of B
A.issubset(B)

True

In [35]:
#4  Are A and B disjoint sets
A.isdisjoint(B)

False

In [36]:
#5  Join A with B and B with A
A.union(B)
B.union(A)

{19, 20, 22, 24, 25, 26, 27, 28}

In [37]:
#6  What is the symmetric difference between A and B
A.symmetric_difference(B)

{27, 28}

In [43]:
#7  Delete the sets completely
A.clear()
B.clear()
print(A)
print(B)

set()
set()

### Part E ➞ <span class='label label-default'>Level 3</span>
>**Note:** Please create new cell for each question

1. Convert the **`num`** to a set and compare the length of the list and the set, which one is bigger?
2. Explain the difference between the following data types: **string**, **list**, **tuple** and **set**
3. **`I am a researcher cum teacher and I love to inspire and teach people.`**. How many unique words have been used in the sentence? Use the **`split`** methods and set to get the unique words.

In [45]:
# Solution: 
#1  Convert the num to a set and compare the length of the list and the set, which one is bigger?
num = [22, 19, 24, 25, 26, 24, 25, 24]
num=[22,19,24,25,26,24,25,24]
numset=set(num)
print(numset,type(numset))
print(len(num)>len(numset))
print(len(num)<len(numset))
print(len(num)==len(numset))

{19, 22, 24, 25, 26} <class 'set'>
True
False
False

In [ ]:
#2  Explain the difference between the following data types: string, list, tuple and set
The list can be changed,the string,tuple and sets cannot be changed.
The string donot use any brackets,list use [],tuple use (),sets use {}

In [46]:
#3  I am a researcher cum teacher and I love to inspire and teach people..
#   How many unique words have been used in the sentence? Use the split methods and set to get the unique words.
sentence='I am a researcher cum teacher and I love to inspire and teach people';
set=set(sentence.split())
print(set)
print(len(set))

{'to', 'researcher', 'people', 'cum', 'I', 'a', 'am', 'love', 'teacher', 'and', 'teach', 'inspire'}
12

# Part F ➞ Dictionary <span class='label label-default'>Level 1</span>

>**Note:** Please create new cell for each question

1. Create an empty dictionary called **`bird`**
2. Add **`name`**, **`color`**, **`breed`**, **`legs`**, **`age`** to the **`bird`** dictionary
3. Create a **`student`** dictionary and add **`first_name`**, **`last_name`**, **`gender`**, **`age`**, **`marital_status`**, **`skills`**, **`country`**, **`city`** and **`address`** as keys for the dictionary
3. Get the length of the **`student`** dictionary
4. Get the value of **`skills`** and check the data type, it should be a list
5. Modify the **`skills`** values by adding one or two skills
6. Get the dictionary keys as a list
7. Get the dictionary values as a list
8. Change the dictionary to a list of tuples using **[items()](https://github.com/milaan9/02_Python_Datatypes/blob/main/005_Python_Dictionary_Methods/005_Python_Dictionary_items%28%29.ipynb)** method
9. Delete one of the items in the dictionary
10. Delete one of the dictionaries

In [47]:
# Solution:
#1  Create an empty dictionary called bird
bird= {}
print(bird)

{}

In [49]:
#2  Add name, color, breed, legs, age to the bird dictionary
bird={'name','color','breed','legs','age'}
print(bird)

{'name', 'age', 'breed', 'legs', 'color'}

In [87]:
#3  Create a student dictionary and add first_name, last_name, gender, age, marital_status, skills, country, city 
#   and address as keys for the dictionary
student={'first_name':'natalie','last_name':'meng','gender':'girl','age':'22','marital_status':'no marry','skills':[''],'country':'China','city':'','address':''}
print(student)

{'first_name': 'natalie', 'last_name': 'meng', 'gender': 'girl', 'age': '22', 'marital_status': 'no marry', 'skills': [''], 'country': 'China', 'city': '', 'address': ''}

In [88]:
#4  Get the length of the student dictionary
len(student)

9

In [89]:
#5  Get the value of skills and check the data type, it should be a list
student={'first_name':'','last_name':'','gender':'','age':'','marital_status':'','skills':[''],'country':'','city':'','address':''}
print(student['skills'],type(student['skills']))

[''] <class 'list'>

In [96]:
#6  Modify the skills values by adding one or two skills
student['skills']=['Python','fitness']
print(student['skills'])

['Python', 'fitness']

In [97]:
#7  Get the dictionary keys as a list
student.keys()

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])

In [98]:
#8  Get the dictionary values as a list
student.values()

dict_values(['natalie', 'meng', 'girl', '22', 'no marry', ['Python', 'fitness'], 'China', '', ''])

In [99]:
#9  Change the dictionary to a list of tuples using items() method
student1= list(student.items())
print(student1)

[('first_name', 'natalie'), ('last_name', 'meng'), ('gender', 'girl'), ('age', '22'), ('marital_status', 'no marry'), ('skills', ['Python', 'fitness']), ('country', 'China'), ('city', ''), ('address', '')]

In [100]:
#10  Delete one of the items in the dictionary
del student['address']
print(student)

{'first_name': 'natalie', 'last_name': 'meng', 'gender': 'girl', 'age': '22', 'marital_status': 'no marry', 'skills': ['Python', 'fitness'], 'country': 'China', 'city': ''}

In [103]:
#11  Delete one of the dictionaries
del student